@import url('index.css');

.person-card {
  border: 4px solid transparent;
  transition:
    border-color 0.4s ease,
    box-shadow 0.4s ease,
    transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1); /* curva suave */
}

.person-card:hover {
    border-color: var(--mint);
    transform: 
        translateY(-4px);
}

#cards-container .bi{
    transition: color 0.4s ease;
}

#cards-container .bi:hover {
    color: var(--mint);
}