@import url('index.css');

/*
 * ========================================
 * 1. SECÃO DE DESTAQUE (COVER/HERO)
 * ========================================
 */

/* Seção de Destaque (Cover/Hero) */
.hero-cover {
    height: 92vh;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/* Container de Conteúdo Interno do Cover */
.cover-container {
    max-width: 42em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
 * ========================================
 * 2. DIVS SOLTAS
 * ========================================
 */

#introduction {
    padding: 15rem 0 15rem 0; 
}

#news{
    padding: 15rem 0 15rem 0;
}

/*
 * ========================================
 * 3. CARDS
 * ========================================
 */

.info-card {
  border: 4px solid transparent;
  transition:
    border-color 0.4s ease,
    box-shadow 0.4s ease,
    transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1); /* curva suave */
}

.info-card:hover {
    border-color: var(--mint);
    transform: 
        translateY(-4px);
}

.info-card .btn{
    border-color: var(--mint);
    color: var(--mint);
}

.info-card .btn:hover {
    background-color: var(--mint);
    border-color: none;
    color: var(--white);
}

/*
 * ========================================
 * 4. ARTIGOS
 * ========================================
 */

.article-card button{
    border: 3px solid transparent;
    transition:
        border-color 0.4s ease,
        box-shadow 0.4s ease,
        transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1); /* curva suave */
}

.article-card button:hover {
    border-color: var(--mint);
    
}

.scrollable-content {
    height: 800px;
    overflow-y: auto;
    padding: 1rem;
}